[data-trending="true"].tile-wrapper {
    width: 470px;
    height: 230px;

    overflow: hidden;
    transition: all 0.3s;
}

[data-trending="false"] .thumbnail {
    height: 174px;
}
[data-trending="false"] .thumbnail img.movie-poster {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
[data-trending="false"] .thumbnail:hover img.movie-poster {
    transform: translate(-50%, -50%) scale(1.05);
}

.thumbnail {
    transition: all 0.3s;
    cursor: pointer;
}
.thumbnail:hover img.movie-poster {
    transform: scale(1.05);
}
.thumbnail:hover .hover-overlay {
    opacity: 1;
}

.tile-wrapper img.movie-poster {
    transition: all 0.3s;
}

.hover-overlay {
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}

.bookmark-wrapper {
    background-color: rgba(0, 0, 0, 0.388);

    cursor: pointer;
    transition: all 0.3s;
    z-index: 11;
}
.bookmark-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.788);
    transform: scale(1.03);
}

.gradient {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.95) 0%, rgba(255,255,255,0) 100%);

    opacity: 0.5;
    transition: opacity 0.3s;
}